---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import FlipCard from "./FlipCard.astro";
import SocialIcons from "./SocialIcons.astro";

interface Props {
  name: string;
  title: string;
  description: string;
  image: ImageMetadata;
  linkedIn?: string | undefined;
  gitHub?: string | undefined;
}

const { name, title, description, image, linkedIn, gitHub } = Astro.props;
---

<FlipCard>
  <div slot="front" class="inner">
    <Image src={image} alt={name} class="portrait" />
    <div class="body">
      <h3>{name}</h3>
      <p class="subtitle">{title}</p>
      <SocialIcons {linkedIn} {gitHub} />
    </div>
  </div>

  <div slot="back" class="inner">
    <div class="body">
      <h3 class="back-title">{name}</h3>
      <p class="subtitle">{title}</p>
      <p class="description">{description}</p>
      <SocialIcons {linkedIn} {gitHub} />
    </div>
  </div>
</FlipCard>

<style>
  .inner {
    border-radius: 0.8rem;
    background-color: var(--color-background-tertiary);
    height: 100%;
  }

  .back-title {
    padding-top: 2rem;
  }

  .portrait {
    width: 100%;
    height: auto;
    border-radius: 0.8rem 0.8rem 0 0;
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  .body {
    padding: 1.5rem;
  }

  .card-front .body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .card-back .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.6;
  }
</style>
