---
import type { ImageMetadata } from "astro";
import Link from "./Link.astro";

interface Props {
  name: string;
  tagline: string;
  description: string;
  url: string;
  logo: ImageMetadata;
}

const { name, tagline, description, url, logo } = Astro.props;
---

<article class="partner-card">
  <div class="card-body">
    {
      logo && (
        <div class="logo-container">
          <img src={logo.src} alt={name} class="partner-logo" />
        </div>
      )
    }

    <h3 class="partner-name">{name}</h3>
    <p class="tagline">{tagline}</p>
    <p class="description">{description}</p>

    <div class="link-container">
      <Link href={url} target="_blank">Visit Website</Link>
    </div>
  </div>
</article>

<style>
  .partner-card {
    height: 100%;
    background-color: var(--color-background-tertiary);
    border-radius: 0.8rem;
    transition: transform 0.3s ease;
  }

  .partner-card:hover {
    transform: translateY(-0.5rem);
  }

  .card-body {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    margin-bottom: 1rem;
  }

  .partner-logo {
    max-width: 100%;
    max-height: 4rem;
    width: auto;
    height: auto;
  }

  .partner-name {
    margin: 0;
    font-size: 1.8rem;
    color: var(--color-primary);
  }

  .tagline {
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-gray);
  }

  .description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-primary);
    flex: 1;
  }

  .link-container {
    margin-top: auto;
    padding-top: 1rem;
  }
</style>
