---
import Layout from "./Layout.astro";
import SEO from "../components/SEO.astro";
import Title from "../components/Title.astro";
import BackLink from "../components/BackLink.astro";

interface Props {
  pageTitle: string;
  title: string;
  subtitle: string;
  description: string;
  lang: string;
  isEmpty?: boolean;
  emptyMessage?: string;
  backLink?: { href: string; text: string };
}

const {
  pageTitle,
  title,
  subtitle,
  description,
  lang,
  isEmpty,
  emptyMessage,
  backLink,
} = Astro.props;
---

<Layout>
  <SEO slot="head" title={pageTitle} {description} {lang} />
  <Title title={title} subtitle={subtitle} />
  <div class="collection-page">
    <div class="container">
      {
        backLink && (
          <div class="back-link-wrapper">
            <BackLink href={backLink.href} text={backLink.text} />
          </div>
        )
      }
      <div class="collection-grid">
        <slot />
      </div>

      {
        isEmpty && (
          <div class="empty-state">
            <p>{emptyMessage}</p>
          </div>
        )
      }
      <slot name="tail" />
    </div>
  </div>
</Layout>

<style>
  .collection-page {
    padding: var(--spacing-lg) 0;
    min-height: calc(100vh - 400px);
    background-color: var(--color-background-gray);
  }

  .container {
    max-width: var(--content-wide-max-width);
    margin: 0 auto;
    padding: 0 var(--spacing-md);
  }

  .back-link-wrapper {
    margin-bottom: 1em;
  }

  .collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
  }

  .empty-state {
    text-align: center;
    padding: var(--spacing-lg) var(--spacing-md);
    color: var(--color-gray);
  }

  @media (max-width: 48rem) {
    .collection-page {
      padding: var(--spacing-md) 0;
    }

    .collection-grid {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>
