---
import Layout from "./Layout.astro";
import SEO from "../components/SEO.astro";
import Title from "../components/Title.astro";

interface Props {
  pageTitle: string;
  title: string;
  subtitle: string;
  description: string;
  lang: string;
  isEmpty?: boolean;
  emptyMessage?: string;
}

const { pageTitle, title, subtitle, description, lang, isEmpty, emptyMessage } =
  Astro.props;
---

<Layout>
  <SEO slot="head" title={pageTitle} {description} {lang} />
  <Title title={title} subtitle={subtitle} />
  <main class="collection-page">
    <div class="container">
      <div class="collection-grid">
        <slot />
      </div>

      {
        isEmpty && (
          <div class="empty-state">
            <p>{emptyMessage}</p>
          </div>
        )
      }
      <slot name="tail" />
    </div>
  </main>
</Layout>

<style>
  .collection-page {
    padding: var(--spacing-lg) 0;
    min-height: calc(100vh - 400px);
    background-color: var(--color-background-gray);
  }

  .container {
    margin: 0 auto;
    padding: 0 var(--spacing-md);
  }

  .collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
  }

  .empty-state {
    text-align: center;
    padding: var(--spacing-lg) var(--spacing-md);
    color: var(--color-gray);
  }

  @media (max-width: 48rem) {
    .collection-page {
      padding: var(--spacing-md) 0;
    }

    .collection-grid {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>
